{% extends 'index.html' %}
{% block body %}

<div class="row my-5">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for x in ans.qs %}
        <div class="accordion-item" style="border: 2px solid black;">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{x.id}}" aria-expanded="false" aria-controls="flush-collapseOne">
              {{x.ques}}
            </button>
          </h2>
          <div id="flush-collapseOne{{x.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">{{x.ans}}</div>
          </div>
          {% endfor %}
        </div>          
  </div>
{% endblock %}